*{
    padding:0;
    margin:0;
    font-family:'Poppins','sans-serif';
    box-sizing:border-box;
}
.wrapper{
    background:url(yoga-header.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment:scroll;
    Width:100%;
    height:800px;
}
nav{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 0;
    margin:20 px;
}
nav.logo{
    width:80px;
}
nav ul li{
    list-style:none;
    display:inline-block;
    margin-left:40px;
}
nav ul li a{
    text-decoration:none;
    color:#FF3031;
    font-size:17px;
}
.content{
    text-align:center;
}
.content h3{
    font-size:30px;
    color:hsl(272, 75%, 27%);
    font-weight:600;
    text-shadow:1px 1px 5px;
}

.content p{
    font-size:20px;
    color:#000000;
    font-weight:600;
}
.term{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    padding:15px 25px;
    font-size:24px;
    text-align:center;
    cursor:pointer;
    outline:none;
    color:#fff;
    background-color:#04AA6D;
    border:none;
    border-radius:15px;
}
.button:hover{
    background-color:#3e8e41;
}
.button:active{
    background-color:#3e8e41;
    transform:translateY(4px);
}